.loader-wrapper {
  width: 60%;

  svg {
    stroke: $accent-color;
    width: 100%;
    height: 100%;
    max-height: 400px;
  }
  margin-bottom: 200px;
}

.start-button {
  background-color: $accent-color;
  color: $primary-color;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  border: none;
  font-size: 100px;
  font-weight: bolder;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.start-button:hover,
.start-button:active {
  background-color: $accent-strong-color;
  box-shadow: 0px 15px 20px rgba(249, 24, 128, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.spinning-director-name {
  font-size: 48px;
  text-align: center;
  margin-bottom: 20px;

  @media only screen and (max-width: 800px) {
    font-size: 38px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.post-spinning-loader-wrapper {
  width: 100%;
  height: 100px;
  .post-spinning-loader {
    justify-content: center;
    svg {
      stroke: $accent-color;
    }
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .post-spinning-loader.fade-in {
    opacity: 1;
  }
}

.selected-director {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100dvh;

  .selected-director__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    border: 2px solid $accent-color;
    border-radius: 10px;
    padding: 20px;
    margin-top: 40px;

    .selected-director__photo {
      max-height: 500px;
      max-width: 200px;
      border-radius: 10px;
    }

    .selected-director__name {
      font-size: 64px;
      font-weight: 600;
      color: $accent-color;
      margin-bottom: 8px;
    }

    .selected-director__country {
      font-size: 36px;
      margin-bottom: 4px;
    }

    .selected-director__period-title {
      font-size: 12px;
    }

    .selected-director__period {
      font-size: 24px;
      margin-bottom: 16px;
    }

    .selected-director__good-movies {
      font-size: 16px;
    }

    @media only screen and (max-width: 800px) {
      gap: 12px;
      margin: 10px 10px 0 10px;
      border-radius: 8px;
      padding: 8px;

      .selected-director__photo {
        max-height: 180px;
        max-width: 150px;
        border-radius: 8px;
      }

      .selected-director__name {
        font-size: 32px;
        margin-bottom: 6px;
      }

      .selected-director__country {
        font-size: 22px;
      }

      .selected-director__period-title {
        font-size: 10px;
      }

      .selected-director__period {
        margin-bottom: 12px;
        font-size: 14px;
      }

      .selected-director__good-movies {
        font-size: 12px;
      }
    }
  }

  .selected-director__movies {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 12px;
    border: 2px solid $accent-color;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 40px;

    .selected-director__movie {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;

      .selected-director__movie-poster {
        border-radius: 10px;
        max-height: 160px;
        max-width: 100px;
      }

      .selected-director__movie-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 8px 0;

        .selected-director__movie-title {
          font-size: 32px;
          color: $accent-color;
        }

        .selected-director__movie-year {
          font-size: 18px;
          margin-bottom: 16px;
        }

        .selected-director__movie-rating {
          color: $primary-color;
          font-size: 24px;
          font-weight: bold;
        }
      }
    }

    @media only screen and (max-width: 800px) {
      margin: 0 10px 10px 10px;
      border-radius: 8px;
      padding: 8px;
      gap: 8px;

      .selected-director__movie {
        gap: 10px;

        .selected-director__movie-poster {
          border-radius: 8px;
          max-height: 100px;
          max-width: 100px;
        }

        .selected-director__movie-details {
          .selected-director__movie-title {
            font-size: 20px;
          }

          .selected-director__movie-year {
            font-size: 14px;
            margin-bottom: 8px;
          }

          .selected-director__movie-rating {
            font-size: 16px;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 800px) {
    gap: 10px;
  }
}
